ion-tab-bar {
  max-width: 90%;
  border-radius: 25px;
  margin-bottom: 5%;
  margin-left: 5%;
  border: none;
  -webkit-box-shadow: 0px 2px 25px 10px rgba(207, 207, 207, 0.33);
  -moz-box-shadow: 0px 2px 25px 10px rgba(207, 207, 207, 0.33);
  box-shadow: 0px 2px 25px 10px rgba(207, 207, 207, 0.33);
}
ion-tabs {
  background: #fff !important;
}
